<h1><%= "Your Week #{@week.name} Picks" %></h1>

<% if @current_pick_set %>
  <ul id="weeksPicks">
		<% if @current_pick_set.picks.size < 3 %>
      <li class="pickAlert">
      <% @picks_left = 3 - @current_pick_set.picks.size;
         @pick_or_picks = @picks_left > 1 ? 'picks' : 'pick' %>
         <h2><%= "You need to make #{@picks_left} more #{@pick_or_picks} for this week." %></h2>
        <%= link_to 'Add picks', edit_pick_set_path(@current_pick_set) %>
      </li>
    <% end %>
    <% @current_pick_set.picks.each do |pick| %>
      <li class="pick">
        <%= pick.team %>
				<%= pick.spread > 0 ? "+" : '' %><%= pick.spread %>
				(<% if pick.is_home %>
					vs <%= Game.find(pick.game_id).away %>
				<% else %>
					at <%= Game.find(pick.game_id).home %>
				<% end%>
				)
      </li>  
    <% end %>
  </ul>
<% else %>
  <div class="pickAlert"><h2>You haven't made any picks for this week.</h2>
  <%= link_to "Make picks for Week #{@week.name}", new_pick_set_path %></div>
<% end %>

