<h1><%= "Your Week #{@week.name} Picks" %></h1>

<% if @current_pick_set %>
  <ul id="weeksPicks">
		<% if @current_pick_set.picks.size < 3 %>
      <li class="pickAlert">
      <% @picks_left = 3 - @current_pick_set.picks.size;
         @pick_or_picks = @picks_left > 1 ? 'picks' : 'pick' %>
         <h2><%= "You need to make #{@picks_left} more #{@pick_or_picks} for this week." %></h2>
        <%= link_to 'Add picks', edit_pick_set_path(@current_pick_set) %>
      </li>
    <% end %>
    <% @current_pick_set.picks.each do |pick| %>
      <li class="pick">
        <%= pick.team %>
				<%= pick.spread > 0 ? "+" : '' %><%= pick.spread %>
				(<% if pick.is_home %>
					vs <%= Game.find(pick.game_id).away %>
				<% else %>
					at <%= Game.find(pick.game_id).home %>
				<% end%>
				)
      </li>  
    <% end %>
  </ul>
<% else %>
  <div class="pickAlert"><h2>You haven't made any picks for this week.</h2>
  <%= link_to "Make picks for Week #{@week.name}", new_pick_set_path %></div>
<% end %>

<% comment do %>
<h2>League Picks</h2>
<ul>
  <% @league_pick_sets.each do |set| %>
    <li>
      <%= set.email %>
      <ul>
        <% week_pick_set = set.pick_sets.where("week_id = #{@week.id}") %>
        <% if !week_pick_set.empty? %>
          <% week_pick_set[0].picks.each do |p| %>
            <li>
              <%= p.team %>
              <%= p.spread %>
            </li>  
          <% end %>
        <% else %>
          <li>No picks.</li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
<% end %>

<% comment do %>
  <table>
    <tr>
      <th>User</th>
      <th>Week</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% PickSet.all.each do |pick_set| %>
    <tr>
      <td><%= pick_set.user_id %></td>
      <td><%= pick_set.week %></td>
      <td><%= link_to 'Show', pick_set %></td>
      <td><%= link_to 'Edit', edit_pick_set_path(pick_set) %></td>
      <td><%= link_to 'Destroy', pick_set, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
<% end %>
