<h1>Playoff Standings</h1>
<ul id="seasonStandingsHeager" class="standing standingsHeader">
  <li class="player"><h2>Player</h2></li>
  <li class="record"><h2>Record</h2></li>
	<li class="record"><h2>Last Week</h2></li>
  <li class="points"><h2>Points</h2></li>
  <li class="o_u"><h2>O/U Points</h2></li>
</ul>
<div id="seasonStandingsContainer" class="standingsContainer">
  <% @playoff_standings.each do |s| %>
		<% if s['player'].id == current_user.id %>
	    <ul class="user standing standingRow <%= cycle('shade', ' ') %>">
		<% else %>
			<ul class="standing standingRow <%= cycle('shade', ' ') %>">
		<% end %>
			<li class="player"><%= s['player'].email %></li>
      <li class="record"><%= "#{s['wins']}-#{s['losses']}-#{s['pushes']}" %></li>
			<li class="record"><%= s['last_week'] %></li>
      <li class="points"><%= s['points'] %></li>
      <li class="o_u"><%= s['over_under_points'] %></li>
    </ul>
  <% end %>
</div>
<a href="#" onclick="Effect.toggle('hiddenStandings', 'appear'); return false;">View regular season standings</a>
<div id="hiddenStandings" style="display:none">
  <h1>Regular Season Standings</h1>
  <ul id="seasonStandingsHeager" class="standing standingsHeader">
    <li class="player"><h2>Player</h2></li>
    <li class="record"><h2>Record</h2></li>
    <li class="record"><h2>Last Week</h2></li>
    <li class="points"><h2>Points</h2></li>
  </ul>
  <div id="seasonStandingsContainer" class="standingsContainer">
    <% @standings.each do |s| %>
      <% if s['player'].id == current_user.id %>
        <ul class="user standing standingRow <%= cycle('shade', ' ') %>">
      <% else %>
        <ul class="standing standingRow <%= cycle('shade', ' ') %>">
      <% end %>
        <li class="player"><%= s['player'].email %></li>
        <li class="record"><%= "#{s['wins']}-#{s['losses']}-#{s['pushes']}" %></li>
        <li class="record"><%= s['last_week'] %></li>
        <li class="points"><%= s['points'] %></li>
      </ul>
    <% end %>
  </div>
</div>

<% unless @pick_sets.empty? %>
	<h1>Your Results</h1>
	<ul id="seasonStandingsHeager" class="standing standingsHeader">
	  <li class="pick"><h2>Pick</h2></li>
		<li class="result"><h2>Result</h2></li>
	</ul>

	<div>
	  <% @pick_sets.each do |ps| %>
	    <ul class="standingRow">
          <% standing = Standing.where("week_id = #{ps.week_id}").where("user_id = #{current_user.id}").first %>
	      <li class="week">
            <%= "Week #{Week.find(ps.week_id).name}" %>
            <% if standing %>
              <span class="weekRecord">(<%= "#{standing.wins}-#{standing.losses}-#{standing.pushes}"%>)</span>
            <% end %>
          </li>
        </ul>
	    <% ps.picks.each do |p| %>
        <% unless p.spread.nil? %>
          <ul class="standing standingRow">
            <li class="pick">
              <% if p.game_id == 0 || p.spread == 0 && p.is_home.nil? %>
                No pick (Spread)
              <% else %>
                <% game = Game.find(p.game_id) %>
                <%= p.team %>
                <%= p.spread > 0 ? "+" : '' %><%= p.spread %>
                (<% if p.is_home %>
                  vs <%= game.away %>
                <% else %>
                  at <%= game.home %>
                <% end%>
                ) <br />
              <% end %>
            </li>
            <% if p.result == 1 %>
              <li class="result win">Win</li>
            <% elsif p.result == -1 %>
              <li class="result loss">Loss</li>
            <% elsif p.result == 0 %>
              <li class="result push">Push</li>
            <% end %> 
          </ul>
        <% end %>
        <% unless p.over_under.nil? %>
          <ul class="standing standingRow" style="border-bottom: #ccc 1px dashed">
            <li class="pick">
              <% if p.game_id == 0 || p.over_under == 0 && p.is_over.nil? %>
                No pick (O/U)
              <% else %>
                <%= p.over_under %>
                <%= p.is_over? ? "Over" : "Under" unless p.is_over.nil? %>
              <% end %>
            </li>
            <% if p.over_under_result == 1 %>
              <li class="result win">Win</li>
            <% elsif p.over_under_result == -1 %>
              <li class="result loss">Loss</li>
            <% elsif p.over_under_result == 0 %>
              <li class="result push">Push</li>
            <% end %> 
          </ul>
        <% end %>
	    <% end %>
	  <% end %>
	</div>
<% end %>
<div class="clearBoth"></div>
