<h1>Season Standings</h1>
<ul id="seasonStandingsHeager" class="standing standingsHeader">
  <li class="player"><h2>Player</h2></li>
  <li class="record"><h2>Record</h2></li>
	<li class="record"><h2>Last Week</h2></li>
  <li class="points"><h2>Points</h2></li>
</ul>
<div id="seasonStandingsContainer" class="standingsContainer">
  <% @standings.each do |s| %>
		<% if s['player'].id == current_user.id %>
	    <ul class="user standing standingRow <%= cycle('shade', ' ') %>">
		<% else %>
			<ul class="standing standingRow <%= cycle('shade', ' ') %>">
		<% end %>
			<li class="player"><%= s['player'].email %></li>
      <li class="record"><%= "#{s['wins']}-#{s['losses']}-#{s['pushes']}" %></li>
			<li class="record"><%= s['last_week'] %></li>
      <li class="points"><%= s['points'] %></li>
    </ul>
  <% end %>
</div>

<% unless @pick_sets.empty? %>
	<h1>Your Results</h1>
	<ul id="seasonStandingsHeager" class="standing standingsHeader">
	  <li class="pick"><h2>Pick</h2></li>
		<li class="result"><h2>Result</h2></li>
	</ul>

	<div>
	  <% @pick_sets.each do |ps| %>
	    <ul class="standingRow">
				<% standing = Standing.where("week_id = #{ps.week_id}").where("user_id = #{current_user.id}").first %>
	      <li class="week">
					<%= "Week #{Week.find(ps.week_id).name}" %>
					<% if standing %>
						<span class="weekRecord">(<%= "#{standing.wins}-#{standing.losses}-#{standing.pushes}"%>)</span>
					<% end %>
				</li>
			</ul>
	    <% ps.picks.each do |p| %>
				<ul class="standing standingRow">
		       <li class="pick">
						<% if p.game_id == 0 %>
							Non-pick
						<% else %>
							<%= p.team %>
							<%= p.spread > 0 ? "+" : '' %><%= p.spread %>
							(<% if p.is_home %>
								vs <%= Game.find(p.game_id).away %>
							<% else %>
								at <%= Game.find(p.game_id).home %>
							<% end%>
							)
						<% end %>
					</li>
					<% if p.result == 1 %>
		          <li class="result win">Win</li>
					<% elsif p.result == -1 %>
						<li class="result loss">Loss</li>
					<% elsif p.result == 0 %>
						<li class="result push">Push</li>
					<% end %> 
				</ul>
	    <% end %>
	  <% end %>
	</div>
<% end %>
<div class="clearBoth"></div>