<%= form_for(@pick) do |f| %>
  <% if @pick.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pick.errors.count, "error") %> prohibited this pick from being saved:</h2>

      <ul>
      <% @pick.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  <% comment do %>
    <% @lines.each do |line| %>
      <%= check_box_tag "pick_#{@lines.index(line) + 1}_0" %>
      <%= line['game']['away'] %>
      <%= line['line'].to_i * -1 > 0 ? '+' : '' %>
      <%= line['line'].to_i * -1 %><br />
      
      <%= check_box_tag "pick_#{@lines.index(line) + 1}_1" %>
      <%= line['game']['home'] %>
      <%= line['line'] %><br />

      <%= f.hidden_field :team %>
      <%= f.hidden_field :spread %>
    <% end %>
  <% end %>
  <% @games.each do |game| %>
    <%= check_box_tag "pick_#{game.id}_0" %>
    <%= game.away %>
    <%= game.spread %><br />
    
    <%= check_box_tag "pick_#{game.id}_1" %>
    <%= game.home %>
    <%= game.spread.to_f * -1 > 0 ? '+' : '' %>
    <%= game.spread.to_f * -1 %><br />

    <%= f.hidden_field :team %>
    <%= f.hidden_field :spread %>
  <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
